<div>
  <h2>Group Table</h2>
  <p>
    Type something in the input field to search the table for category, content:
  </p>
  <div class="form-inline">
    <input
      id="myGroupInput"
      type="text"
      class="col-md-3 form-control"
      placeholder="Search.."
    />
    <button
      type="button"
      class="btn btn-primary ml-5"
      style="margin-left: 1%"
      data-toggle="modal"
      data-target="#myGroupModal"
      onclick="openGroupModal()"
    >
      Add
    </button>
  </div>
  <br /><br />

  <table>
    <thead>
      <tr>
        <th colspan="1"></th>
        <th colspan="1">Title</th>
        <th colspan="5">Category</th>
      </tr>
    </thead>
    <tbody id="myGroupTable"></tbody>
  </table>
  <div
    class="modal fade"
    id="myGroupModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleGroupModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleGroupModalLabel">New group</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
            id="closeGroupModal"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="message-text" class="col-form-label">Title:</label>
              <input class="form-control" id="content-text-group"></input>
            </div>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label"
                >Category:</label
              >
              <div>
                <select class="form-control" id="selectedCategoryGroup" multiple></select>
              </div>
            </div>
            <p style="color: red">Press CTR to select more categories</p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary" onClick="addGroup()">
            Add
          </button>
        </div>
      </div>
    </div>
  </div>

  <p>
    Note that we start the search in tbody, to prevent filtering the table
    headers.
  </p>
</div>

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<script>
   $(document).ready(function () {
    $("#myGroupInput").on("keyup", function () {
      var value = $(this).val().toLowerCase();
      $("#myGroupTable tr").filter(function () {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  });
  
  const openGroupModal = function () {
    $.get(`${url}/categories`, function (data, status) {
      if (status === "error") {
        alert("Error");
        return;
      }
      const selectElement = data.reduce((elements, item) => {
        return (
          elements +
          `
                  <option value="${item._id}">${item.title}</option>
              `
        );
      }, "");
      $("#selectedCategoryGroup").html(selectElement);
    });
  };
  const addGroup = function () {
    categories = $("#selectedCategoryGroup option:selected").map((i, el) => {
        return $(el).val();
    }).get();
    title = $("#content-text-group").val();
    const body = {categories, title};
    if (!categories || !title) {
        alert("Please fill all the fields");
        return;
    }
    $.post(
      `${url}/groups`,
      body,
      function (data, status) {
        if (status === "error") {
          alert("Error");
          return;
        }
        clickGroup();
        $("#closeGroupModal").click();
      }
    );
    $("#content-text-group").val("");
  };
</script>
